 


  :root{ 
    --blue: #2196F3;
    --black: #212121; 
    --grey:#757575; 
    --white:#FFFFFF;
    --light-black: #2F303A;
     --primary-font: "Roboto",sans-serif;
    --secondary-font:"Raleway", sans-serif;
       
} 
 
    body{
      font-family: "Roboto", sans-serif;
      color: default; 
    }
 
/*Header Section*/ 

header.header__container{ 
  width: 1200px;
  display: flex; 
  justify-content: space-between; 
  margin-left: auto; 
  margin-right: auto;
  align-items: center; 
  height: 80px;
}
  


 
.logo:hover{ 
  text-decoration:none;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;  
  line-height: 33%;
  color: #212121; 
  padding-top: 60px;
  
} 

 .logo span{ 
  color: #2196F3;
 }
 
 .header__navigation ul{ 
     list-style:none; 
     display: flex; 
     gap: 40px;;
 }
    
 a.studio:hover{ 
  color: #2196F3;
 }
   
 a.portofolio:hover{ 
  color: #2196F3;
 }
 a.email:hover{ 
  color: #2196F3;
 } 

  a.contacts:hover{ 
    color: #2196F3;
  }
   
   a.phone:hover{ 
    color:#2196F3 ;
   }

   

  .header__navigation a{
     text-decoration:none;
     font-family:var(--primary-font);
     font-weight:500;
     line-height:17%;
    font-size: 14px; 
  
    }
    
    .header__info a{
    text-decoration: none;   
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 17%; 
    
    } 
     
     
    /*Main Part*/
      
       
            /*Hero Section*/ 
             
            section.hero__section{
              background-color: #2F303A;
               display: flex;
                align-items: center;
              width: 1600px;
                height: 600px;
                top: 80px;
                gap: 0px;
                opacity: 0px;
              
            }
      
            .hero__title {
              font-family: var(--primary-font);
              font-size: 44px;
              font-weight: 900;
              line-height: 60%;  
               color: #FFFFFF;
              display: flex;
              align-items: center;
              width: 696px;
              height: 120px;
              top: 280px;
              left: 452px;
               gap: 0px;
              opacity: 0px;
            }
            
            

            .hero__request {
              color: var(--white);
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              font-weight: 700;
              line-height: 30%;
              cursor: pointer;  
              display: flex;
              align-items: center; 
              width: 200px;
              height: 50px;
              top: 430px;
              left: 700px;
              gap: 0px;
              border-radius: 4px 0px 0px 0px;
              opacity: 0px;
            }
      
            .hero__request:hover {
              background-color: #2196F3;
              color: var(--white);
            }
      
      
            /*About Section*/ 
             
      
            .about__title {
              font-family: var(--primary-font);
              font-size: 14px;
              font-weight: 700;
              line-height: 17%;
              color: #212121; 
              width: 270px;
              height: 16px;
              top: 774px;
              left: 215px;
              gap: 0px;
            
            }
      
      
      
            .about__subtitle {
              list-style: none;
               
            }
              
            div.lists-parent{
              width: 1170px;
              height: 101px;
                gap: 0px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }    
              

            .tasks__team {
              font-family: var(--primary-font);
              font-size: 36px;
              font-weight: 700;
              line-height: 43%;
              color: #212121; 
              display: flex;
              flex-direction: row;
                
            }
      
      
            .team {
              font-family: var(--primary-font);
              font-size: 36px;
              font-weight: 700;
              line-height: 18%;
              color: #212121;
             list-style: none;
            } 
             
            h2.team{
               display: flex;
              align-items: center;
            }
      
      
      
            .team__member {
              font-family: var(--primary-font);
              font-size: 16px;
              font-weight: 500;
              line-height: 4%;
              color: #212121;
              list-style: none;
            }
      
      
      
            /*Footer Section*/
      
            .footer__first-half {
              font-family: var(--secondary-font);
              font-size: 26px;
              font-weight: 700;
              line-height: 33%;
              color: #2196F3;
            }
      
            .footer__second-half {
              background-color: #212121;
              font-family: var(--secondary-font);
              font-size: 26px;
              font-weight: 700;
              line-height: 33%;
              color: white;
            }
      
            .address__street {
              font-family: var(--primary-font);
              font-size: 14px;
              font-weight: 400;
              line-height: 17%;
              color: white;
            }
      
      
      
            .address__email {
              font-family: Roboto;
              font-size: 14px;
              font-weight: 400;
              line-height: 16%;
            }
      
      
      
      
      
      
      
            /*Portofoliu*/
      
            /*Main Part*/
            .main__list {
              list-style: none;
            }
      
            button.main__button {
              font-family: var(--primary-font);
              font-size: 16px;
              font-weight: 500;
              line-height: 26%;
              color: #212121;
              cursor: pointer;
            }
      
            button.main__button:hover {
              background-color: #2196F3;
              color: #FFFFFF;
            }
      
      
      
      
            /*About Section*/
      
            .about__name {
              font-family: var(--primary-font);
              font-size: 18px;
              font-weight: 700;
              line-height: 36%;
            }
      
            .about__subname {
              font-family: var(--primary-font);
              font-size: 16px;
              font-weight: 400;
              line-height: 30%;
              color: #757575;
            }
      
            /*Footer Section*/
      
            footer {
              background-color: #2F303A;
              ;
            }
      
            p.street {
              font-family: var(--primary-font);
              font-size: 14px;
              font-weight: 400;
              line-height: 17%;
              color: #FFFFFF;
              font-style: normal; 
            }
      
            a.email2 {
              font-style: normal;
            }
      
            a.email2:hover {
              color: #FFFFFF99;
            }
      
            a.phone2 {
              font-style: normal;
            }
      
            a.phone2:hover {
              color: #FFFFFF99;
            }
              
              
          
                 div.container {
                   width: 1200px; 
                   margin-right: auto;
                   margin-left: auto; 
                    height: 251px;
                 }
                  
                  img{
                     display:block;
                     max-width: 100%;
                      height:auto; 
                  } 
                   
              section.section{ 
                 margin-top: 94px; 
                 margin-bottom:94px;
              }
               
             
             .tasks{
               display: flex; 
               flex-direction: row; 
               gap: 20px; 
              width: 1170px;
                height: 386px;
                margin-top: 969px;
                margin-left: 215px;
               
             }
              
               
         .container-list{
           margin-left:542px; 
           margin-right:542px; 
           display: flex;
            align-items: center;
         } 
          
      